body {
    height: calc(90%);
    margin: 10px;
    padding: 20px;
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.mascotas {
    background-color: rgb(250, 188, 238);
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: baseline; 
    padding: 20px;
    border-radius: 10px;
    
   
    img {
        
        gap: 20px;
        width: 400px;
        height: 300px;
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    }
    ;
    video {
        gap: 20px;
        width:400px;
        height: 300px;
        border-radius: 10px;
        object-fit: cover
    }
    }



    

.projects {
    background-color: rgb(250, 188, 238);
    padding: 20px;
    border-radius: 10px;
    color: white;
    border: 3px solid black;
    box-sizing: border-box;
    ul {
        color: rgb(82, 42, 184);
    }
    li {
        margin-bottom: 10px;
        a {
            color: rgb(59, 15, 172);
        }
    }
}
.contact {
    display: flex;
    justify-content: center;
    background-color: rgb(250, 188, 238);
    padding: 25px;
    border-radius: 10px;
    color: white;
    justify-content: center;
    
    box-sizing: border-box;
    bottom{
        background-color: rgb(121, 83, 112);
        padding: 20px;
        border-radius: 10px;
        color: rgb(134, 16, 16);
    }
form {
    display: flex;
    background-color: rgb(250, 188, 238);
    padding: 25px;
    border-radius: 10px;
    color: white;
    
    border: 3px solid black;
    box-sizing: border-box;
    
    gap: 15px;
    
    flex-direction: column;
}

}
nav {
    background-color: #ffffff;
    height: 5%;
    border-radius: 10px;
}

a {
    display: block;
    margin-bottom: 20px;
}
.goback{
    img{
        width: 50px;
    }
    

}
